* {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background-color: #F55A5A;
    padding: 15px;
}

.navbar--earth {
    height: 20px;
}

.navbar > h3 {
    font-weight: 400;
    font-style: normal;
    margin-left: 5px;
    margin-top: 2px;
    font-size: 14.4px;
}

/*DESTINIES */

.destinies {
    display: flex;
}

.destinies--img > img {
    height: 168px;
    width: 125px;
}

.destinies--location > * {
    display: inline-block;
}

.destinies--date > * {
    display: inline-block;
}